.activity-label {
	font-size: 10px;
	text-align: center
}
.activity-dates {
	font-size: 14px;
	vertical-align: middle;
	text-align: center
}

.activity-levels {
	font-size: 28px;
	vertical-align: middle;
	text-align: center
}