.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(0deg);
  text-anchor: middle;
}

@media (max-width: 320px) {
	.Axis-Bottom text {
  		transform: rotate(-30deg);
  		text-anchor: middle;
	}
}