click==6.7
celery==4.1.0
celery-once==1.2.0
redis==2.10.6
coverage==4.4.1
Flask==0.12.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
flask-cors==3.0.3
flower==0.9.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.13.3
pandas==0.21.0
psycopg2==2.7.1
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
scikit-learn==0.19.1
SQLAlchemy==1.1.15
Werkzeug==0.12.2
gunicorn==19.7.1